<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <WebServer>false</WebServer>
  <IpAddress>43.26.251.71</IpAddress>
  <FilePass>test_library\000_XTT\000_SoftUpdater</FilePass>
  <ExeNeme>CheckUpload</ExeNeme>
  <NewRevFile>latest.txt</NewRevFile>
  <KeepFolder></KeepFolder>
  <SoftReStart>false</SoftReStart>
  <PingWait>500</PingWait>
</configuration>